@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
@tailwind components;
@tailwind utilities;

@layer utilities{
  .text-indent {
    text-indent: 30px;
  }
}
* {
	outline: none !important;
}
*:active {
	outline: none !important;
}
*:focus {
	outline: none !important;
}

.nav-blue {
  @apply text-white bg-indigo-500;
}
.nav-white {
  @apply text-indigo-500 bg-white;
}

.btn {
  @apply text-center place-self-center  font-bold text-xs text-white uppercase rounded py-2 px-4 shadow-md ease-linear transition-all duration-150;
}
.btn-blue {
  @apply bg-indigo-500;
}
.btn-blue:hover {
  @apply bg-indigo-400;
}

.btn-blue:active {
  @apply bg-indigo-600; 
}